#wrapper{
    width: 900px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
}

header h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    color: black;
    text-align: center;
}

nav{
    width: 100%;
    text-align: center;
}
nav ul{
    list-style-type: none;
    margin:70px;
}

nav li{
    display: inline;
}

footer{
    text-align: center;
}